body {
	background: #f9e933;
	font-family: 'Droid', sans;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
	clear:	both;
}

header {
	background: white;
	overflow: auto;
}

header h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans;
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

header h2

main {
	background: white;
	overflow: auto;
}

main .textmain {
	float: left;
	width: 570px;
}

main .logomain {
	float: right;
	width: 285px;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}